@using Projeto_gerencia_treinos_musculacao.ViewModels.Exercicio
@model ExercicioEditViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Exercicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Execucao" class="control-label"></label>
                <input asp-for="Execucao" class="form-control" />
                <span asp-validation-for="Execucao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrupoMuscular" class="control-label"></label>
                <select asp-for="GrupoMuscular" class="form-control" asp-items="Html.GetEnumSelectList<Projeto_gerencia_treinos_musculacao.Models.Enum.GrupoMuscular>()"></select>
                <span asp-validation-for="GrupoMuscular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipamento" class="control-label"></label>
                <input asp-for="Equipamento" class="form-control" />
                <span asp-validation-for="Equipamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
